.App {
  background-color: #8c8581c9;
  text-align: center;
  /* background-color: #c7d9d8; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardImg {
  width: 100%;
  height: 400px;
  object-fit: scale-down;
}
.cardBook {
  background-color: #d8cdc6;
  color: rgb(40, 36, 36);
  font-size: medium;
  transition: 300ms;
}
.cardBook:hover {
  transform: scale(1.1);
  transition: 400ms;
}

.btnBay {
  background-color: #575757;
  color: whitesmoke;
}

.btnBay:hover {
  background-color: #575757;
}

.accordionHeader {
  background-color: #575757;
}
